In [15]:
#Imports for the project
import e_commerce.seller.personal_info as s_info
import e_commerce.seller.product_info as p_info
import e_commerce.seller.seller_history as s_hist

import pandas as pd

#Adding seller data
seller=pd.DataFrame(columns=["Name","Email","Country","Product_Name","Product_Category","Product_Price","Quantity"])

seller.loc[0] = ["Dell", "dell@gmail.com", "Canada", "Dell1", "Electronics", "25000", "10"]
seller.loc[1] = ["Apple", "apple@gmail.com", "America", "Macbook", "Electronics", "125000", "20"]
seller.loc[2] = ["LG", "lg@gmail.com", "Canada", "Television", "Electronics", "1125000", "12"]
seller.loc[3] = ["Mark", "mr@gmail.com", "America", "Jackets", "Clothing", "500", "120"]
seller.loc[4] = ["Haldiram", "hr@gmail.com", "India", "Namkeen", "Food", "125", "520"]
seller.loc[5] = ["VeroModa", "vm@gmail.com", "America", "sweater", "Clothing", "125000", "200"]
seller

       Name            Email  Country  ... Product_Category Product_Price Quantity
0      Dell   dell@gmail.com   Canada  ...      Electronics         25000       10
1     Apple  apple@gmail.com  America  ...      Electronics        125000       20
2        LG     lg@gmail.com   Canada  ...      Electronics       1125000       12
3      Mark     mr@gmail.com  America  ...         Clothing           500      120
4  Haldiram     hr@gmail.com    India  ...             Food           125      520
5  VeroModa     vm@gmail.com  America  ...         Clothing        125000      200

[6 rows x 7 columns]