In [7]:
#Imports for the project
import e_commerce.seller.personal_info as s_info
import e_commerce.seller.product_info as p_info
import e_commerce.seller.seller_history as s_hist

import pandas as pd

In [8]:
#Adding seller data
seller=pd.DataFrame(columns=["Name","Email","Country","Product_Name","Product_Category","Product_Price","Quantity"])

seller.loc[0] = ["Dell", "dell@gmail.com", "Canada", "Dell1", "Electronics", "25000", "10"]
seller.loc[1] = ["Apple", "apple@gmail.com", "America", "Macbook", "Electronics", "125000", "20"]
seller.loc[2] = ["LG", "lg@gmail.com", "Canada", "Television", "Electronics", "1125000", "12"]
seller.loc[3] = ["Mark", "mr@gmail.com", "America", "Jackets", "Clothing", "500", "120"]
seller.loc[4] = ["Haldiram", "hr@gmail.com", "India", "Namkeen", "Food", "125", "520"]
seller.loc[5] = ["VeroModa", "vm@gmail.com", "Ame/rica", "sweater", "Clothing", "125000", "200"]
seller

,Name,Email,Country,Product_Name,Product_Category,Product_Price,Quantity
0,Dell,dell@gmail.com,Canada,Dell1,Electronics,25000,10
1,Apple,apple@gmail.com,America,Macbook,Electronics,125000,20
2,LG,lg@gmail.com,Canada,Television,Electronics,1125000,12
3,Mark,mr@gmail.com,America,Jackets,Clothing,500,120
4,Haldiram,hr@gmail.com,India,Namkeen,Food,125,520
5,VeroModa,vm@gmail.com,Ame/rica,sweater,Clothing,125000,200

Calling four functions from the module

In [9]:
#Getting information using country name
s_info.getCountry(seller,'Canada')

,Name,Email,Country,Product_Name,Product_Category,Product_Price,Quantity
0,Dell,dell@gmail.com,Canada,Dell1,Electronics,25000,10
2,LG,lg@gmail.com,Canada,Television,Electronics,1125000,12

In [11]:
#Getting information using name
s_info.getName(seller,'Dell')

,Name,Email,Country,Product_Name,Product_Category,Product_Price,Quantity
0,Dell,dell@gmail.com,Canada,Dell1,Electronics,25000,10

In [12]:
#Getting information using email
s_info.getEmail(seller,'dell@gmail.com')

,Name,Email,Country,Product_Name,Product_Category,Product_Price,Quantity
0,Dell,dell@gmail.com,Canada,Dell1,Electronics,25000,10

In [15]:
#Getting information using category
s_info.getCategory(seller,'Electronics')

,Name,Email,Country,Product_Name,Product_Category,Product_Price,Quantity
0,Dell,dell@gmail.com,Canada,Dell1,Electronics,25000,10
1,Apple,apple@gmail.com,America,Macbook,Electronics,125000,20
2,LG,lg@gmail.com,Canada,Television,Electronics,1125000,12