In [2]:
import pandas as pd

import e_commerce.customer.orders as c_o
import e_commerce.customer.personal_info as c_pi
import e_commerce.customer.returns as c_ret

In [3]:
cust_data = pd.DataFrame(columns = ["Name", "Email", "Address", "Product_Name", "Product_Category", "Price", "Rating", "Date"])

cust_data.loc[0] = ["Jagdeep", "jagdeep@gmail.com", "Kelowna", "Laptop", "Electronics", "1000", "4", "12-10-2021"]
cust_data.loc[1] = ["Aishwarya", "aish@gmail.com", "Kelowna", "Juicer", "Electronics", "250", "3", "10-10-2021"]
cust_data.loc[2] = ["John", "john@gmail.com", "Vancouver", "Jacket", "Clothing", "200", "5", "02-10-2021"]
cust_data.loc[3] = ["Alex", "alex@gmail.com", "Summerland", "Namkeen", "Food", "100", "4", "11-10-2021"]
cust_data.loc[4] = ["Anna", "anna@gmail.com", "Vancouver", "Jacket", "Clothing", "300", "2", "20-10-2021"]
cust_data

,Name,Email,Address,Product_Name,Product_Category,Price,Rating,Date
0,Jagdeep,jagdeep@gmail.com,Kelowna,Laptop,Electronics,1000,4,12-10-2021
1,Aishwarya,aish@gmail.com,Kelowna,Juicer,Electronics,250,3,10-10-2021
2,John,john@gmail.com,Vancouver,Jacket,Clothing,200,5,02-10-2021
3,Alex,alex@gmail.com,Summerland,Namkeen,Food,100,4,11-10-2021
4,Anna,anna@gmail.com,Vancouver,Jacket,Clothing,300,2,20-10-2021

In [5]:
value = "anna@gmail.com"
c_pi.get_by_email(cust_data, value)

,Name,Email,Address,Product_Name,Product_Category,Price,Rating,Date
4,Anna,anna@gmail.com,Vancouver,Jacket,Clothing,300,2,20-10-2021

In [6]:
city = "Kelowna"
c_pi.get_by_address(cust_data, city)

,Name,Email,Address,Product_Name,Product_Category,Price,Rating,Date
0,Jagdeep,jagdeep@gmail.com,Kelowna,Laptop,Electronics,1000,4,12-10-2021
1,Aishwarya,aish@gmail.com,Kelowna,Juicer,Electronics,250,3,10-10-2021

In [7]:
cat = "Electronics"
c_pi.get_by_Product_Category(cust_data, cat)

,Name,Email,Address,Product_Name,Product_Category,Price,Rating,Date
0,Jagdeep,jagdeep@gmail.com,Kelowna,Laptop,Electronics,1000,4,12-10-2021
1,Aishwarya,aish@gmail.com,Kelowna,Juicer,Electronics,250,3,10-10-2021